<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="utf-8" />
        <title>{{title}}</title>
        <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
        <link rel="stylesheet" type="text/css" href="../../public/css/cart.css">
    </head>

    <body>
        {{!-- <main> --}}
           <ul id="navbar">
                <li id = "left"><a href="/homepage">Home</a></li>
                <li><a href="/profile">Profile</a></li>
                <li><a href="/trips">Plan a trip</a></li>
                <li id = "right"><a href="/logout">Logout</a></li>
            </ul>
            <h1>{{title}}</h1>
            {{{body}}}
        {{!-- </main> --}}
        <footer>
            {{!--
            <script src="https://code.jquery.com/jquery-2.2.4.min.js"
                integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script> --}}
            {{!-- 
            <script src="../../public/js/ajax.js"></script> --}}
            <script src="../../public/js/cart.js"></script>
            {{!-- CITATIONSSSS --}}
            {{!-- https://stackoverflow.com/questions/8054165/using-put-method-in-html-form --}}
            <script>
                const myForm = document.getElementById('editForm');
                myForm.addEventListener('submit', function(event) {
                    event.preventDefault(); // prevent the form from submitting normally
                    
                    // create a new FormData object from the form data
                    const formData = new FormData(myForm);
                    
                    // send the PUT request using fetch
                    fetch(myForm.action, {
                    method: 'PUT',
                    body: formData
                    })
                    .then(response => {
                    // handle the response
                    continue;
                    })
                    .catch(error => {
                    // handle the error
                    console.log(error)
                    });
                });
            </script>
        </footer>
    </body>

</html>