<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p>choose the trip your itinerary is in:</p>
<form id="selection2" action="/trips/edititinerary" method="POST">
    <select name="tripName" id="tripName" >
        {{#each trips}}
              {{#if this.itinerary}}
            <option value="{{this.name}}">{{this.name}}</option>
            {{/if}}
        {{/each}}
    </select>
    <button id="submit" onclick="">Submit</button>

</form>