
<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p>choose the itinerary you want to edit: </p>
<form id="selection3" action="/trips/edititinerary/{{currentTrip}}" method="POST">
{{!-- <form id="selection3">  --}}
    <select name="activityName" id="activityName" >
        {{#each trips}}
            <option value="{{this.activityName}}">{{this.activityName}}</option>
        {{/each}}
    </select>
    <button id="submit" onclick="">Submit</button>

</form>
