<div>
    <p>If you don't want to change a field, input the same information as before.</p>
    <form action="/trips/trip/{{currentTrips}}" method="POST" id="editForm">
        <label for="tripNameInput">Trip Name:
            <input name="tripNameInput" id="tripNameInput" type="text">
        </label>
        <label for="startLocationInput">Start Location:
            <input name="startLocationInput" id="startLocationInput" type="text">
        </label>
        <label for="startDateInput">Start Date:
            <input name="startDateInput" id="startDateInput" type="text">
        </label>
        <label for="startTimeInput">Start Time:
            <input name="startTimeInput" id="startTimeInput" type="text">
        </label>
        <label for="endLocationInput">End Location:
            <input name="endLocationInput" id="endLocationInput" type="text">
        </label>
        <label for="endDateInput">End Date:
            <input name="endDateInput" id="endDateInput" type="text">
        </label>
        <label for="endTimeInput">End Time:
            <input name="endTimeInput" id="endTimeInput" type="text">
        </label>
        <label for="stopsInput">Stop:
            <input name="stopsInput" id="stopsInput" type="text">
        </label>
        <label for="toDoInput">ToDo:
            <input name="toDoInput" id="toDoInput" type="text">
        </label>
        <input type="hidden" name="_method" value="PUT">
        <label for="submitButton">
            <button type="submit" name="submitButton" id="submitButton">Submit</button>
        </label>
    </form>
</div>