<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<div id="editItinerary">
    <form action="/trips/edititinerary/{{currentTrip}}/{{currentIt}}" method="POST" id="editItineraryForm">
        <p class="text">Name of Activity:</p>
        <label for="activityInput">
            <input name="activityInput" id="activityInput" type="text">
        </label>
        <p class="text">Date of Activity:</p>
        <label for="dateInput">
            <input id="dateInput" name="dateInput" type="text">
        </label>
        <p class="text">Start Time of Activity:</p>
        <p class="requirement">(must be in the format HH:MM)</p>
        <label for="activityStartTimeInput">
            <input id="activityStartTimeInput" name="activityStartTimeInput" type="text">
        </label>
        <p class="text">End Time of Activity:</p>
        <p class="requirement">(must be in the format HH:MM)</p>
        <label for="activityEndTimeInput">
            <input id="activityEndTimeInput" name="activityEndTimeInput" type="text">
        </label>
        <p class="text">Estimated Cost:</p>
        <label for="costInput">
            <input id="costInput" name="costInput" type="text">
        </label>
        <p class="text">Notes:</p>
        <label for="notesInput">
            <input id="notesInput" name='notesInput' type="text">
        </label>
        <input type="hidden" name="_method" value="PUT">
        <label for="edit-itinerary-button" class="submitButton">
            <button type="submit" name="edit-itinerary-button" id="edit-itinerary-button">Submit</button>
        </label>
    </form>
</div>