<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<div>
    <p>If you don't want to change a field, input the same information as before.</p>
    <div id="error">
         <p id="serverErr">{{error}}</p>
    </div>
    <form action="/trips/trip/{{currentTrips}}" method="POST" id="editForm">
        <p class="text">Trip Name:</p>
        <label for="tripNameInput">
            <input name="tripNameInput" id="tripNameInput" type="text">
        </label>
        <p class="text">Start Location:</p>
        <label for="startLocationInput">
            <input name="startLocationInput" id="startLocationInput" type="text">
        </label>
        <p class="text">Start Date:</p>
        <p class="requirement">(must be in the format MM/DD/YYYY)</p>
        <label for="startDateInput">
            <input name="startDateInput" id="startDateInput" type="text">
        </label>
        <p class="text">Start Time:</p>
        <p class="requirement">(must be in the format HH:MM)</p>
        <label for="startTimeInput">
            <input name="startTimeInput" id="startTimeInput" type="text">
        </label>
        <p class="text">End Location:</p>
        <label for="endLocationInput">
            <input name="endLocationInput" id="endLocationInput" type="text">
        </label>
        <p class="text">End Date:</p>
        <p class="requirement">(must be in the format MM/DD/YYYY)</p>
        <label for="endDateInput">
            <input name="endDateInput" id="endDateInput" type="text">
        </label>
        <p class="text">End Time:</p>
        <p class="requirement">(must be in the format HH:MM)</p>
        <label for="endTimeInput">
            <input name="endTimeInput" id="endTimeInput" type="text">
        </label>
        <p class="text">Stops:</p>
        <p class="requirement">(must be separated by a /)</p>
        <label for="stopsInput">
            <input name="stopsInput" id="stopsInput" type="text">
        </label>
        <p class="text">To Do:</p>
        <p class="requirement">(list any tasks you need to complete before your trip from most to least important)</p>
        <label for="toDoInput">
            <input name="toDoInput" id="toDoInput" type="text">
        </label>
        <input type="hidden" name="_method" value="PUT">
        <label for="edit-trip-button" class="submitButton">
            <button type="submit" name="edit-trip-button" id="edit-trip-button">Submit</button>
        </label>
    </form>
</div>