<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<form id="selection" action="/trips/editItinerary" method="POST">
    <select name="activityName" id="activityName" >
        {{#each trips}}
            {{#each itinerary}}
            <option value="{{this.activityName}}">{{this.activityName}}</option>
            {{/each}}
        {{/each}}
    </select>
    <button id="submit" onclick="">Submit</button>

</form>