{{! should display map view 
        - map view will be interactive where user can put a pin from where they want to go from their current location
            - will bring up start trip link to render tripplanning page
    OR
    stock images of destinations presented in a slide show
        -everything else stays the same
}}
<ul id="navbar">
    <li id = "left"><a href="/homepage">Home</a></li>
    <li><a href="/profile">Profile</a></li>
    <li><a href="/trips">Plan a trip</a></li>
    <li id = "right"><a href="/logout">Logout</a></li>
</ul>
<p>Get ready to plan the road trip of your dreams. To get started, you can access 
    your profile or go straight to your trips.
</p>
<div>
    <div id="vroom-vroom">
        <img id ="vroom" src="https://static.vecteezy.com/system/resources/previews/001/193/930/original/vintage-car-png.png" alt="nice message to brighten your day">
    </div>
    <img id="usa" src="https://static.vecteezy.com/system/resources/thumbnails/012/073/817/small/doodle-freehand-drawing-of-united-state-of-america-map-free-png.png">
</div>
