{{! should display map view 
        - map view will be interactive where user can put a pin from where they want to go from their current location
            - will bring up start trip link to render tripplanning page
    OR
    stock images of destinations presented in a slide show
        -everything else stays the same
}}
<p>Welcome to CART! Get ready to plan the road trip of your dreams. To get started, you can access 
    your profile or go straight to your trips.
</p>
<div>
    <img src="https://media0.giphy.com/media/oNzIEmYVve51a3vRuC/giphy.gif?cid=6c09b952chddwxmg3dmgdzyp419mwlifzsye24pfz2mwz2l7&ep=v1_gifs_search&rid=giphy.gif&ct=g" alt="nice message to brighten your day">
</div>

