<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p>Get ready to plan the road trip of your dreams. To get started, you can access 
    your profile or go straight to your trips.
</p>
<div>
    <div id="vroom-vroom">
        <img id ="vroom" src="https://static.vecteezy.com/system/resources/previews/001/193/930/original/vintage-car-png.png" alt="vroom">
    </div>
    <img id="usa" src="https://static.vecteezy.com/system/resources/thumbnails/012/073/817/small/doodle-freehand-drawing-of-united-state-of-america-map-free-png.png" alt="murica">
</div>
