<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<div>
    <form action "/login" method="POST" id="login-form">
        <p class="text">Email:</p>
        <label for="emailAddressInput"><input type="email" name="emailAddressInput" id="emailAddressInput"></label>
        <p class="text">Password:</p>
        <label for="passwordInput"><input type="password" name="passwordInput" id="passwordInput"></label>
        <label for="loginSubmit" class="submitButton">
            <input type="submit" name="loginSubmit" id="loginSubmit">
        </label>
    </form>
</div>
<a href="/register" class="a-format">Click here to register!</a>