
<form action "/login" method="POST" id="login-form">
    <label for ="emailAddressInput">Email:
        <input type="email" name="emailAddressInput" id="emailAddressInput">
    </label>
    <label for = "passwordInput">Password:
        <input type="password" name="passwordInput" id="passwordInput">
    </label>
    <input type="submit">
</form>
<a href="/register">Click here to register!</a>