<p>You have been logged out.</p>
<div class="login-holder">
    <img src="https://media.tenor.com/gMC-purKMQ4AAAAM/sad-cry.gif" alt="we will miss u" id="cat-cry">
</div>
<p>
</p>
<a href="/login" class="link" class="a-format">Login</a>