<div id="container">
    <div id="map"></div>
    <div id="sidebar">
    {{!-- <p>Total Distance: <span id="total"></span></p> --}}
    <div id="panel"></div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB2rO-xk7Wsxc-K50hBVMUJhruUvoG9QjQ&callback=Map&v=weekly"
    defer>
</script>
{{!-- <script  src="../public/js/cart.js"></script> --}}