<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<form action="/trips/map" method="POST" id="mapSearch">
    <label for="newStopInput">New Stop:
        <input name="newStopInput" id="newStopInput" type="text">
    </label>
    <input type="hidden" name="_method" value="PUT">
    <button type="submit">Submit</button>
</form>
<p></p>
<div id="container">
    <div id="map"></div>
    <div id="sidebar">
    <p>Total Distance: <span id="totalDist"></span></p>
    <p>Total Time: <span id="totalTime"></span></p>
    <div id="panel"></div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=${INSERT_APIKEY_HERE}&callback=Map&v=weekly"
    start="{{mData.start_location}}"
    end="{{mData.end_location}}"
    stops="{{stops}}"
    defer>
</script>

{{!-- ${INSERT_APIKEY_HERE} --}}