<div id="container">
    <div id="map"></div>
    <div id="sidebar">
    {{!-- <p>Total Distance: <span id="total"></span></p> --}}
    <div id="panel"></div>
    </div>
</div>
<script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD0lNV3JJaO8GyAzbOvWyBuoxs_LlLaNbE&callback=Map&v=weekly"
    start="{{mData.start_location}}"
    end="{{mData.end_location}}"
    stops="{{mData.stops}}"
    defer>
</script>
{{!-- <script  src="../public/js/cart.js"></script> --}}