<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<form action="/register" method="POST" id="registration-form">
    <p class="text">First Name:</p>
    <label for="firstNameInput">
        <input name="firstNameInput" id="firstNameInput" type="text">
    </label>
    <p class="text">Last Name:</p>
    <label for="lastNameInput">
        <input name="lastNameInput" id="lastNameInput" type="text">
    </label>
    <p class="text">Email Address:</p>
    <label for="emailAddressInput">
        <input name="emailAddressInput" id="emailAddressInput" type="email">
    </label>
    <p class="text">Password:</p>
    <p class="requirement">- must be at least 8 characters</p>
    <p class="requirement">- cannot include a space</p>
    <p class="requirement">- must contain at least one capital
        letter</p>
    <p class='requirement'>- must contain at least one special character</p>
    <label for="passwordInput">
        <input name="passwordInput" id="passwordInput" type="password">
    </label>
    <p class="text">Confirm Password:</p>
    <label for="confirmPasswordInput">
        <input name="confirmPasswordInput" id="confirmPasswordInput" type="password">
    </label>
    <label for="register-button" class="submitButton"><input type="submit" name="register-button"
            id="register-button"></label>

</form>
<p></p>
<a href="/login" class="a-format">Already have an account? Login here.</a>