<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<form action="/register" method="POST" id="registration-form">
    <label for="firstNameInput">First Name:
        <input name="firstNameInput" id="firstNameInput" type="text">
    </label>
    <label for="lastNameInput">Last Name:
        <input name="lastNameInput" id="lastNameInput" type="text">
    </label>
    <label for="emailAddressInput">Email Address:
        <input name="emailAddressInput" id="emailAddressInput" type="email">
    </label>
    <label for="passwordInput">Password:
        <input name="passwordInput" id="passwordInput" type="password">
    </label>
    <label for="confirmPasswordInput">Confirm Password:
        <input name="confirmPasswordInput" id="confirmPasswordInput" type="password">
    </label>
    <label for="submitButton"><input type="submit" name="submitButton" id="submitButton"></label>

</form>
<a href="/login" class="a-format">Already have an account? Login here.</a>