<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<p id="successful">{{success}}</p>