{{! TO DO:
- verify locations
- work on itinerary
- clientside js to display hidden divs
- for to do lists we need to make sure the user knows they should only be used for things to do in preparation for the
trip

- TO DO LIST
- preparation for trip
- ITINERARY
- activities done during stops on trip
- STOPS
- places the user is going to during the trip
- rest stops, hotels, place of activity, gas stations, etc.
- }}
<p id="serverErr">{{error}}</p>
<div id="error"></div>
<div id="createTrip">
    <form action="/trips/map/{{userId}}" method="POST" id="tripForm">
        <label for="tripNameInput">Trip Name:
            <input name="tripNameInput" id="tripNameInput" type="text">
        </label>
        <label for="startLocationInput">Start Location:
            <input name="startLocationInput" id="startLocationInput" type="text">
        </label>
        <label for="startDateInput">Start Date:
            <input name="startDateInput" id="startDateInput" type="text">
        </label>
        <label for="startTimeInput">Start Time:
            <input name="startTimeInput" id="startTimeInput" type="text">
        </label>
        <label for="endLocationInput">End Location:
            <input name="endLocationInput" id="endLocationInput" type="text">
        </label>
        <label for="endDateInput">End Date:
            <input name="endDateInput" id="endDateInput" type="text">
        </label>
        <label for="endTimeInput">End Time:
            <input name="endTimeInput" id="endTimeInput" type="text">
        </label>
        <label for="stopsInput">Stop:
            <input name="stopsInput" id="stopsInput" type="text">
        </label>
        <label for="toDoInput">ToDo:
            <input name="toDoInput" id="toDoInput" type="text">
        </label>
        <label for="usersAllowedInput">Users Allowed:
            <input name="usersAllowedInput" id="usersAllowedInput" type="text">
        </label>
        <button type="submit">Submit</button>
    </form>
</div>
<a href="/trips/edittrip">Click here to edit a trip</a>
<a href="/trips/itinerary">Click here to add an itinerary</a>
<a href="/trips/edititinerary">Click here to edit an existing itinerary</a>