<div class="resize">
    <ul id="navbar">
        <li id="left"><a href="/homepage" class="nav-item">Home</a></li>
        <li><a href="/profile" class="nav-item">Profile</a></li>
        <li><a href="/trips" class="nav-item">Plan a trip</a></li>
        <li id="right"><a href="/logout" class="nav-item">Logout</a></li>
    </ul>
</div>
<a href="/trips/edittrip" class="a-format">Click here to edit a trip</a>
<a href="/trips/itinerary" class="a-format">Click here to add an itinerary</a>
<a href="/trips/edititinerary" class="a-format">Click here to edit an existing itinerary</a>
<p></p>
<p id="serverErr">{{error}}</p>
<div id="error"></div>
<div id="createTrip">
    <form action="/trips/map" method="POST" id="tripForm">
        <p class="text">Trip Name:</p>
        <label for="tripNameInput">
            <input name="tripNameInput" id="tripNameInput" type="text">
        </label>
        <p class="text">Start Location:</p>
        <label for="startLocationInput">
            <input name="startLocationInput" id="startLocationInput" type="text">
        </label>
        <p></p>
        <div class="password">Start Date:
            <span class="tooltiptext">
                - must be in the format
                MM/DD/YYYY
            </span>
        </div>
        <p></p>
        <label for="startDateInput">
            <input name="startDateInput" id="startDateInput" type="text">
        </label>
        <p></p>
        <div class="password">Start Time:
            <p></p>
            <span class="tooltiptext">
                - must use military time
                - must be in the format HH:MM
            </span>
        </div>
        <label for="startTimeInput">
            <input name="startTimeInput" id="startTimeInput" type="text">
        </label>
        <p class="text">End Location:</p>
        <label for="endLocationInput">
            <input name="endLocationInput" id="endLocationInput" type="text">
        </label>
        <p></p>
        <div class="password">End Date:
            <p></p>
            <span class="tooltiptext">
                - must be in the format
                MM/DD/YYYY
            </span>
        </div>
        <label for="endDateInput">
            <input name="endDateInput" id="endDateInput" type="text">
        </label>
        <p></p>
        <div class="password">End Time:
            <p></p>
            <span class="tooltiptext">
                - must use military time
                - must be in the format HH:MM
            </span>
        </div>
        {{!-- <p class="requirement">()</p> --}}
        <label for="endTimeInput">
            <input name="endTimeInput" id="endTimeInput" type="text">
        </label>
        <p></p>
        <div class="password">Stops:
            <p></p>
            <span class="tooltiptext">
                - all stops must be separated by
                a forward-slash (/)
            </span>
        </div>
        <label for="stopsInput">
            <input name="stopsInput" id="stopsInput" type="text">
        </label>
        <p></p>
        <div class="password">To Do:
            <p></p>
            <span class="tooltiptext">
                - list tasks to complete before your trip
                - list tasks from most to least important
                - tasks should be separated by a comma (,)
            </span>
        </div>
        {{!-- <p class="requirement">(tasks must be separated by a comma)</p> --}}
        <label for="toDoInput">
            <input name="toDoInput" id="toDoInput" type="text">
        </label>
        <p class="text">User(s) Allowed:</p>
        <label for="allowedInput">
            <input name="allowedInput" id="allowedInput" type="text">
        </label>
        <p></p>
        <label for="create-trip-button" class="submitButton">
            <button type="submit" name="create-trip-button" id="create-trip-button">Submit</button>
        </label>
        <div class="bottom"></div>
    </form>
</div>