<p id="serverErr">{{error}}</p>
<div id="error" hidden></div>
<form id="selection" action="/trips/edittrip" method="POST">
    <select name="tripName" id="tripName">
        {{#each trips}}
        <option value="{{this.name}}">{{this.name}}</option>
        {{/each}}
    </select>
    <label for="submit">
        <button type="submit" name="submit" id="submit">Submit</button>
    </label>
</form>