<p>If you don't want to change a field, input the same information as before.</p>
<form action="/register" method="POST" id="registration-form">
    <label for="firstNameInput">New First Name:
        <input name="firstNameInput" id="firstNameInput" type="text">
    </label>
    <label for="lastNameInput">New Last Name:
        <input name="lastNameInput" id="lastNameInput" type="text">
    </label>
    <label for="emailAddressInput">New Email Address:
        <input name="emailAddressInput" id="emailAddressInput" type="email">
    </label>
    <label for="passwordInput">New Password:
        <input name="passwordInput" id="passwordInput" type="password">
    </label>
    <label for="confirmPasswordInput">Confirm Password:
        <input name="confirmPasswordInput" id="confirmPasswordInput" type="password">
</label>
    <input type="submit">
</form>
<a href="/profile">Back to Profile</a>