html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #edf4ed;
}

#container {
  height: 70%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#navbar {
  background-color: #79b791;
  display: flex;
  list-style-type: none;
  overflow: hidden;
  padding: 10px 15px;
  justify-content: space-around;
}

li {
  float: left;
  background-color: #f5bfc8;
  display: inline-flex;
  text-align: center !important;
  padding: 10px 10px;
  border-radius: 20px;
}
.nav-item {
  display: inline-flex;
  font-weight: bold;
  color: #281a12;
  padding-top: unset;
  padding-bottom: unset;
}
.nav-item:visited {
  color: initial;
}
.nav-item:hover {
  color: #462829;
}
a {
  display: inline-flex;
  /* width: auto;
  height: auto; */
  text-align: center !important;
  text-decoration: none;
  background-color: #f5bfc8;
  padding: 10px 10px;
  padding-top: unset;
  padding-bottom: unset;
  border-radius: 20px;
  /* padding-left: 10px; */
  color: #281a12;
}
a:visited {
  color: initial;
}
a:hover {
  color: #462829;
}
.button {
  align-items: center;
  text-align: center;
}
.login-holder {
  display: inline-flex;
  border: 5px solid #301014;
  padding: 30px;
  background-color: #acc9ba;
  border-radius: 20px;
}
#cat-cry {
  border-radius: 100px;
}
main {
  margin: auto;
  text-align: center;
}

h1 {
  font-style: italic;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#float-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  /* column-gap: 5px; */
  /* height: fit-content; */
}
#pfp {
  max-width: 300px;
  max-height: 300px;
  float: right;
  padding-left: 200px;
  /* border: 10px solid #301014; */
  /* border-radius: 50px; */
}
p.profile::before {
  content: '\A';
  white-space: pre;
}
.profile {
  font-size: 30px;
  text-align: left;
  /* padding-right: 50px; */
}
/* trip board posting design taken from: https://www.w3schools.com/css/tryit.asp?filename=trycss_grid_display_inline-grid */
.trips {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #51291e;
  padding: 10px;
}
.content {
  background-color: #acc9ba;
  border: 1px solid #301014;
  padding: 20px;
  font-size: 15px;
  text-align: left;
}
h2 {
  font-style: italic;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#trip-holder {
  /* border-radius: 25px; */
  border: 5px solid #301014;
  padding: 5px;
  background-color: #b1bfbb;
}
.next {
  background-color: #f5bfc8;
}
/*code for displaying two p tags on the same line taken from: https://stackoverflow.com/questions/67249439/how-can-i-keep-several-p-tags-on-the-same-line */
.contains {
  display: flex;
  gap: 0.5rem;
}
.pad {
  background-color: #f5bfc8;
  text-align: center;
}

label::before {
  content: '\A';
  white-space: pre;
  display: block;
}

.a-format::before {
  content: '\A';
  white-space: pre;
  display: block;
}
#vroom {
  position: absolute;
  width: 200px;
  height: 100px;
  z-index: 2;
}
#vroom-vroom {
  padding-top: 195px;
  float: left;
  position: relative;
  animation-name: driving;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  animation-timing-function: ease-in-out;
}
@keyframes driving {
  0% {
    left: 0px;
    top: 0px;
    down: 50;
  }
  25% {
    left: 1300px;
    top: 0px;
  }
  50% {
    left: 1300px;
    top: 0px;
  }
  75% {
    left: 1300px;
    top: 0px;
  }
  100% {
    left: 0px;
    top: 0px;
  }
}
#usa {
  width: 800px;
  height: 500px;
  position: relative;
  z-index: 1;
}
#successful {
  font-size: 30px;
}

#error {
  color: red;
  font-weight: bold;
}

.requirement {
  color: crimson;
}
#tripUrl {
  color: black;
  text-decoration: underline;
  background-color: #acc9ba;
  padding: 0px;
  padding-top: 14px;
  font-weight: bold;
}
.resize {
  height: auto;
  width: 1000px;
  margin: 0 auto;
}

#highlight-red {
  background-color: rgb(215, 138, 138);
  font-weight: bold;
}

#list-1 {
  background-color: rgb(251, 211, 138);
  font-weight: bold;
}

#list-2 {
  background-color: rgb(253, 255, 158);
  font-weight: bold;
}
