html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #EDF4ED;
}

#container {
  height: 70%;
  display: flex;
}

#sidebar {
  flex-basis: 15rem;
  flex-grow: 1;
  padding: 1rem;
  max-width: 30rem;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

#map {
  flex-basis: 0;
  flex-grow: 4;
  height: 100%;
}

#navbar {
  background-color: #79B791;
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  display: block;
  text-align: center;
}

li {
  float: left;
  padding: 10px 160px;
  text-align: center;
  margin: auto;
}

a {
  display: block;
  text-align: center;
}

main {
  margin: auto;
  text-align:center;
}
#left {
  float: left;
  text-align: center;
  margin: auto;
}

#right {
  margin: 0px;
  padding: 10px 170px;
}
h1 {
  font-style: italic;
  letter-spacing: 5px;
  font-family: Arial, Helvetica, sans-serif;
}
#float-container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
}
#pfp {
  max-width: 100%;
  max-height:100%;
  float: left;
}
p.profile::before {
  content: "\A";
  white-space: pre;
}
.profile {
  font-size: 30px;
  text-align: left;
}
.trips {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.content {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 15px;
  text-align: left;
}